*.swn
*.swo 
*.swp
*.idea

/ACDATOS/NetBeansProjects/ExcelAPI/nbproject/
/ACDATOS/NetBeansProjects/ExcelAPI/target/
/ACDATOS/NetBeansProjects/HolaServlet/nbproject/private/
/ACDATOS/NetBeansProjects/HolaServlet/build/
/ACDATOS/NetBeansProjects/HolaServlet/dist/
/ACDATOS/NetBeansProjects/GestionAcademica/nbproject/private/
/ACDATOS/NetBeansProjects/GestionAcademica/build/
/ACDATOS/NetBeansProjects/GestionAcademica/dist/
/ACDATOS/GeneradorNombres/build/
/ACDATOS/GeneradorNombres/nbproject/private/
/PRSERVICIOS/Procesos/Procesos/nbproject/private/
/PRSERVICIOS/Procesos/Procesos/build/